# Pandas

In [1]:
import numpy as np

In [2]:
import pandas as pd

### Seriler

In [3]:
myDict = {"Ali" : 50, "Zeynep" : 40, "Fatma" : 20}

In [5]:
pd.Series(myDict) #seri oluşturduk

Ali       50
Zeynep    40
Fatma     20
dtype: int64

In [7]:
myAges = [50,30,20]
myNames = ["Ali","Zeynep","Mehmet"]

In [8]:
pd.Series(myAges)

0    50
1    30
2    20
dtype: int64

In [10]:
pd.Series(myAges, myNames)

Ali       50
Zeynep    30
Mehmet    20
dtype: int64

In [12]:
pd.Series(data=myAges, index=myNames) #yukarıdakinin farklı yolu

Ali       50
Zeynep    30
Mehmet    20
dtype: int64

In [14]:
numpyArr = np.array([50,40,30])

In [15]:
numpyArr

array([50, 40, 30])

In [17]:
pd.Series(numpyArr) #numpy dizisini pandas serisine çevirebiliyoruz

0    50
1    40
2    30
dtype: int32

In [18]:
pd.Series(numpyArr, myNames)

Ali       50
Zeynep    40
Mehmet    30
dtype: int32