In [187]:
import numpy as np
import pandas as pd

#### Dosyalari okumak icin read_csv read_excel tarzi konutlar kullaniliyor

In [188]:
data = pd.read_csv('Pokemon.csv')

In [189]:
data.head(6) # bastan 6 veriyi goster

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False

In [190]:
data.tail(8) #sondan 8 datayi goster

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
792,716,Xerneas,Fairy,NaN,680,126,131,95,131,98,99,6,True
793,717,Yveltal,Dark,Flying,680,126,131,95,131,98,99,6,True
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [191]:
data['Type 1'] #belirtilen dataFrame icindeki verilere ulasma

0        Grass
1        Grass
2        Grass
3        Grass
4         Fire
        ...
795       Rock
796       Rock
797    Psychic
798    Psychic
799       Fire
Name: Type 1, Length: 800, dtype: object

In [192]:
data.loc[792] #belirtilen satir verilerine erisim

#                 716
Name          Xerneas
Type 1          Fairy
Type 2            NaN
Total             680
HP                126
Attack            131
Defense            95
Sp. Atk           131
Sp. Def            98
Speed              99
Generation          6
Legendary        True
Name: 792, dtype: object

In [193]:
data['Type 1'] == "Fire" #Type i Fire olan verilere true digerlerine false yazar

0      False
1      False
2      False
3      False
4       True
       ...
795    False
796    False
797    False
798    False
799     True
Name: Type 1, Length: 800, dtype: bool

In [194]:
ates = data['Type 1'] == "Fire"
ates2 = data['Type 2'] == "Fire"

In [195]:
data[ates | ates2] #datasi sadece ates olan verileri bize veriyor. Burada gosterilen duz cizgi or anlamina gelmektedir

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
730,662,Fletchinder,Fire,Flying,382,62,73,55,56,52,84,6,False
731,663,Talonflame,Fire,Flying,499,78,81,71,74,69,126,6,False
735,667,Litleo,Fire,Normal,369,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,507,86,68,72,109,66,106,6,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [196]:
ates = data['Type 1'] == "Fire"
dragon = data['Type 2'] == "Dragon"

In [197]:
 data[ates & dragon]  #type1 i ates type 2 si dragon olan verileri getir. Burada gosterilen & ve anlami tasir

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False

In [198]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [199]:
hiz120 = data["Speed"]>120 #hizi 120 den fazla olanlari yazdir

In [200]:
data[hiz120]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
71,65,AlakazamMega Alakazam,Psychic,NaN,590,55,50,65,175,95,150,1,False
102,94,GengarMega Gengar,Ghost,Poison,600,60,65,80,170,95,130,1,False
109,101,Electrode,Electric,NaN,480,60,50,70,80,80,140,1,False
146,135,Jolteon,Electric,NaN,525,65,65,60,110,95,130,1,False
153,142,Aerodactyl,Rock,Flying,515,80,105,65,60,75,130,1,False
154,142,AerodactylMega Aerodactyl,Rock,Flying,615,80,135,85,70,95,150,1,False
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True
183,169,Crobat,Poison,Flying,535,85,90,80,70,80,130,2,False
275,254,SceptileMega Sceptile,Grass,Dragon,630,70,110,75,145,85,145,3,False
300,277,Swellow,Normal,Flying,430,60,85,60,50,50,125,3,False
315,291,Ninjask,Bug,Flying,456,61,90,45,50,50,160,3,False
339,310,ManectricMega Manectric,Electric,NaN,575,70,75,80,135,80,135,3,False
428,386,DeoxysNormal Forme,Psychic,NaN,600,50,150,50,150,50,150,3,True
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True
431,386,DeoxysSpeed Forme,Psychic,NaN,600,50,95,90,95,90,180,3,True
476,428,LopunnyMega Lopunny,Normal,Fighting,580,65,136,94,54,96,135,4,False
512,461,Weavile,Dark,Ice,510,70,120,65,45,85,125,4,False
549,491,Darkrai,Dark,NaN,600,70,90,90,135,90,125,4,True
551,492,ShayminSky Forme,Grass,Flying,600,100,103,75,120,75,127,4,True
678,617,Accelgor,Bug,NaN,495,80,70,40,100,60,145,5,False
703,641,TornadusTherian Forme,Flying,NaN,580,79,100,80,110,90,121,5,True
716,648,MeloettaPirouette Forme,Normal,Fighting,600,100,128,90,77,77,128,5,False
726,658,Greninja,Water,Dark,530,72,95,67,103,71,122,6,False
731,663,Talonflame,Fire,Flying,499,78,81,71,74,69,126,6,False
791,715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False

In [201]:
data['Type 1'].unique() #datanin type 1 i icinde kac tane farkli tur oldugunu bize ekrana yazan fonksiyon "unique()"

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [202]:
len(data['Type 1'].unique()) #yukarida elde ettigim sonucun sayisini veren fonksiyon

18

In [203]:
data.set_index('Speed') #verinin index numarasini veri icindeki her hangi bir sutun yapabiliriz

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Generation,Legendary
Speed,,,,,,,,,,,,
45,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,1,False
60,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,1,False
80,3,Venusaur,Grass,Poison,525,80,82,83,100,100,1,False
80,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,1,False
65,4,Charmander,Fire,NaN,309,39,52,43,60,50,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
50,719,Diancie,Rock,Fairy,600,50,100,150,100,150,6,True
110,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,6,True
70,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,6,True
80,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,6,True
70,721,Volcanion,Fire,Water,600,80,110,120,130,90,6,True

In [204]:
data.iloc[0] #0 index numarasina ait olan satirin verilerini yazdi. Burada "iloc" fonksiyonu yardimci oldu

#                     1
Name          Bulbasaur
Type 1            Grass
Type 2           Poison
Total               318
HP                   45
Attack               49
Defense              49
Sp. Atk              65
Sp. Def              65
Speed                45
Generation            1
Legendary         False
Name: 0, dtype: object

In [205]:
data = data.set_index('Name')

In [206]:
data.loc['Diancie'] #yeni index numarasi olarak kabuk edilne pokemon adini yazip ona ait verileri listeleme

#               719
Type 1         Rock
Type 2        Fairy
Total           600
HP               50
Attack          100
Defense         150
Sp. Atk         100
Sp. Def         150
Speed            50
Generation        6
Legendary      True
Name: Diancie, dtype: object

In [207]:
data.iloc[3:6] #3 ile 6 arasi degerler ekrana getirir

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False
Charmeleon,5,Fire,NaN,405,58,64,58,80,65,80,1,False

In [208]:
data.iloc[-1] #son veriyi goruruz

#               721
Type 1         Fire
Type 2        Water
Total           600
HP               80
Attack          110
Defense         120
Sp. Atk         130
Sp. Def          90
Speed            70
Generation        6
Legendary      True
Name: Volcanion, dtype: object

## Pandas ile matematiksel islemler yapilabilir

In [209]:
data.head(2)

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False

In [210]:
data['Att-Def'] = (data['Attack']*2) + (data['Defense']*3) #yeni bir sutun olusturduk ve buraya verileri yazdik

In [211]:
data.head(6) #yeni satirimiz her yer isledi

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Att-Def
Name,,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False,245
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False,313
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False,413
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False,569
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False,233
Charmeleon,5,Fire,NaN,405,58,64,58,80,65,80,1,False,302

In [212]:
data.columns #tum columns degerleri burada

Index(['#', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary', 'Att-Def'],
      dtype='object')

In [213]:
data.index #index numarakari gozukur

Index(['Bulbasaur', 'Ivysaur', 'Venusaur', 'VenusaurMega Venusaur',
       'Charmander', 'Charmeleon', 'Charizard', 'CharizardMega Charizard X',
       'CharizardMega Charizard Y', 'Squirtle',
       ...
       'Noibat', 'Noivern', 'Xerneas', 'Yveltal', 'Zygarde50% Forme',
       'Diancie', 'DiancieMega Diancie', 'HoopaHoopa Confined',
       'HoopaHoopa Unbound', 'Volcanion'],
      dtype='object', name='Name', length=800)

### DataSetlerde bazen bos NaN degerler olur bunu "dropna" fonksiyonu ile kaldirmak mumkundur

In [214]:
data.head(30)

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Att-Def
Name,,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False,245
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False,313
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False,413
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False,569
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False,233
Charmeleon,5,Fire,NaN,405,58,64,58,80,65,80,1,False,302
Charizard,6,Fire,Flying,534,78,84,78,109,85,100,1,False,402
CharizardMega Charizard X,6,Fire,Dragon,634,78,130,111,130,85,100,1,False,593
CharizardMega Charizard Y,6,Fire,Flying,634,78,104,78,159,115,100,1,False,442
Squirtle,7,Water,NaN,314,44,48,65,50,64,43,1,False,291
Wartortle,8,Water,NaN,405,59,63,80,65,80,58,1,False,366
Blastoise,9,Water,NaN,530,79,83,100,85,105,78,1,False,466
BlastoiseMega Blastoise,9,Water,NaN,630,79,103,120,135,115,78,1,False,566
Caterpie,10,Bug,NaN,195,45,30,35,20,20,45,1,False,165
Metapod,11,Bug,NaN,205,50,20,55,25,25,30,1,False,205
Butterfree,12,Bug,Flying,395,60,45,50,90,80,70,1,False,240
Weedle,13,Bug,Poison,195,40,35,30,20,20,50,1,False,160
Kakuna,14,Bug,Poison,205,45,25,50,25,25,35,1,False,200
Beedrill,15,Bug,Poison,395,65,90,40,45,80,75,1,False,300
BeedrillMega Beedrill,15,Bug,Poison,495,65,150,40,15,80,145,1,False,420
Pidgey,16,Normal,Flying,251,40,45,40,35,35,56,1,False,210
Pidgeotto,17,Normal,Flying,349,63,60,55,50,50,71,1,False,285
Pidgeot,18,Normal,Flying,479,83,80,75,70,70,101,1,False,385
PidgeotMega Pidgeot,18,Normal,Flying,579,83,80,80,135,80,121,1,False,400
Rattata,19,Normal,NaN,253,30,56,35,25,35,72,1,False,217
Raticate,20,Normal,NaN,413,55,81,60,50,70,97,1,False,342
Spearow,21,Normal,Flying,262,40,60,30,31,31,70,1,False,210
Fearow,22,Normal,Flying,442,65,90,65,61,61,100,1,False,375
Ekans,23,Poison,NaN,288,35,60,44,40,54,55,1,False,252
Arbok,24,Poison,NaN,438,60,85,69,65,79,80,1,False,377

#### Yukarida bazi degerler NaN olarak verilmis. Simdi onlari kaldiracagiz

In [215]:
data = data.dropna()

In [216]:
data.head(30)

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Att-Def
Name,,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False,245
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False,313
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False,413
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False,569
Charizard,6,Fire,Flying,534,78,84,78,109,85,100,1,False,402
CharizardMega Charizard X,6,Fire,Dragon,634,78,130,111,130,85,100,1,False,593
CharizardMega Charizard Y,6,Fire,Flying,634,78,104,78,159,115,100,1,False,442
Butterfree,12,Bug,Flying,395,60,45,50,90,80,70,1,False,240
Weedle,13,Bug,Poison,195,40,35,30,20,20,50,1,False,160
Kakuna,14,Bug,Poison,205,45,25,50,25,25,35,1,False,200
Beedrill,15,Bug,Poison,395,65,90,40,45,80,75,1,False,300
BeedrillMega Beedrill,15,Bug,Poison,495,65,150,40,15,80,145,1,False,420
Pidgey,16,Normal,Flying,251,40,45,40,35,35,56,1,False,210
Pidgeotto,17,Normal,Flying,349,63,60,55,50,50,71,1,False,285
Pidgeot,18,Normal,Flying,479,83,80,75,70,70,101,1,False,385
PidgeotMega Pidgeot,18,Normal,Flying,579,83,80,80,135,80,121,1,False,400
Spearow,21,Normal,Flying,262,40,60,30,31,31,70,1,False,210
Fearow,22,Normal,Flying,442,65,90,65,61,61,100,1,False,375
Nidoqueen,31,Poison,Ground,505,90,92,87,75,85,76,1,False,445
Nidoking,34,Poison,Ground,505,81,102,77,85,75,85,1,False,435
Jigglypuff,39,Normal,Fairy,270,115,45,20,45,25,20,1,False,150
Wigglytuff,40,Normal,Fairy,435,140,70,45,85,50,45,1,False,275
Zubat,41,Poison,Flying,245,40,45,35,30,40,55,1,False,195
Golbat,42,Poison,Flying,455,75,80,70,65,75,90,1,False,370
Oddish,43,Grass,Poison,320,45,50,55,75,65,30,1,False,265
Gloom,44,Grass,Poison,395,60,65,70,85,75,40,1,False,340
Vileplume,45,Grass,Poison,490,75,80,85,110,90,50,1,False,415
Paras,46,Bug,Grass,285,35,70,55,45,55,25,1,False,305
Parasect,47,Bug,Grass,405,60,95,80,60,80,30,1,False,430
Venonat,48,Bug,Poison,305,60,55,50,40,55,45,1,False,260

### Goruldugu gibi tum NaN degerler silindi ve # numaralari da duzenli bir sekilde tekrar yazildi

In [219]:
data['Speed'].astype("float") #int olan data turunu float'a cevirdik

Name
Bulbasaur                 45.0
Ivysaur                   60.0
Venusaur                  80.0
VenusaurMega Venusaur     80.0
Charizard                100.0
                         ...
Diancie                   50.0
DiancieMega Diancie      110.0
HoopaHoopa Confined       70.0
HoopaHoopa Unbound        80.0
Volcanion                 70.0
Name: Speed, Length: 414, dtype: float64