# PANDAS 3

In [1]:
import numpy as np
import pandas as pd

In [7]:
data = np.random.randn(4,3)

In [8]:
data

array([[ 0.03652042, -1.43525885,  0.0973988 ],
       [-1.03560432, -0.32241162,  0.86592952],
       [ 0.74738856,  1.9578007 ,  0.6722035 ],
       [ 0.91810066, -0.05808844,  0.94625006]])

In [11]:
dataFrame = pd.DataFrame(data) #data'yı dataFrame şekline çevirdi

In [15]:
dataFrame

          0         1         2
0  0.036520 -1.435259  0.097399
1 -1.035604 -0.322412  0.865930
2  0.747389  1.957801  0.672203
3  0.918101 -0.058088  0.946250

In [17]:
newDataFrame = pd.DataFrame(data,index=["atil","zeynep","atlas","mehmet"], columns=["maas","yas","calisma saati"])

In [19]:
newDataFrame #Yukarıda index (row) ve columns değerlerini girdiK

            maas       yas  calisma saati
atil    0.036520 -1.435259       0.097399
zeynep -1.035604 -0.322412       0.865930
atlas   0.747389  1.957801       0.672203
mehmet  0.918101 -0.058088       0.946250

In [20]:
newDataFrame["yas"]

atil     -1.435259
zeynep   -0.322412
atlas     1.957801
mehmet   -0.058088
Name: yas, dtype: float64

In [21]:
newDataFrame["calisma saati"]

atil      0.097399
zeynep    0.865930
atlas     0.672203
mehmet    0.946250
Name: calisma saati, dtype: float64

In [24]:
newDataFrame[["maas","yas"]] #sadece dataFramein girilen değerilirini gösterir

            maas       yas
atil    0.036520 -1.435259
zeynep -1.035604 -0.322412
atlas   0.747389  1.957801
mehmet  0.918101 -0.058088

### Yukarıda columns şeklinde değerleri nasıl yazılacağını gördük.
##### Şimdi ise row şeklinde nasıl yazılacağına bakacağız
bunun için _*loc*_ location fonksiyonu çağırılmalı

In [28]:
newDataFrame.loc["atil"] #loc func ile row yazımı

maas             0.036520
yas             -1.435259
calisma saati    0.097399
Name: atil, dtype: float64

###### Aynı şekilde isim olarak değil de index no göre de listelenebilir
# iloc

In [29]:
newDataFrame.iloc[0]

maas             0.036520
yas             -1.435259
calisma saati    0.097399
Name: atil, dtype: float64